<div class="container news-page">

    <h1 class="news-title">
        Latest News
    </h1>

    <div class="row">

        <!-- NEWS 1 -->
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="news-card">

                <img 
                    src="https://picsum.photos/600/400?random=1"
                    class="news-img"
                >

                <div class="news-body">

                    <h5 class="news-heading">
                        NodeJS đang thay đổi Backend như thế nào?
                    </h5>

                    <p class="news-desc">
                        NodeJS ngày càng phổ biến trong hệ sinh thái backend nhờ
                        hiệu năng cao và cộng đồng mạnh mẽ.
                    </p>

                    <a href="#" class="news-btn">
                        Read more
                    </a>

                </div>

            </div>
        </div>


        <!-- NEWS 2 -->
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="news-card">

                <img 
                    src="https://picsum.photos/600/400?random=2"
                    class="news-img"
                >

                <div class="news-body">

                    <h5 class="news-heading">
                        ExpressJS vẫn là framework phổ biến nhất
                    </h5>

                    <p class="news-desc">
                        ExpressJS là framework backend đơn giản nhưng mạnh mẽ,
                        được sử dụng trong hàng triệu project.
                    </p>

                    <a href="#" class="news-btn">
                        Read more
                    </a>

                </div>

            </div>
        </div>


        <!-- NEWS 3 -->
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="news-card">

                <img 
                    src="https://picsum.photos/600/400?random=3"
                    class="news-img"
                >

                <div class="news-body">

                    <h5 class="news-heading">
                        MongoDB và NoSQL ngày càng phổ biến
                    </h5>

                    <p class="news-desc">
                        NoSQL giúp developer dễ dàng mở rộng hệ thống với dữ
                        liệu linh hoạt.
                    </p>

                    <a href="#" class="news-btn">
                        Read more
                    </a>

                </div>

            </div>
        </div>


    </div>

</div>